.header-container {
    background-color: rgba(9.8, 9.8, 43.9, 0.8); /* Black color with 50% transparency */
    padding: 20px;
    transform: translateY(-10px);
}
body{
    background-color:rgb(15, 15, 54);
    background-size: 100% 100%;
    background-repeat:no-repeat;
    background-attachment: fixed;
}



button{
   width: 180px;
   height:265px;
   border-radius: 15px;
   background-color:rgb(11, 11, 33);
   background-attachment: fixed;
   border-bottom-width:20px;
   border-bottom-color:#0062ff;
   border-left: 0px;
   border-top:0px ;
   border-right: 0px;
   position: relative;
   overflow: hidden;
   transform: translateX(300px) translateY(40px);
}
.c2{
  margin-left: 15px;
}
.c3{
    margin-left: 15px;
}
.c4{
    margin-left: 15px;

}  
.row{
    margin-left: 0px;
    margin-top: 15px;
}