body {
    padding: 0;
    background-color: black;
    background-image: url(assets/backdrop.png);
    background-position: center;
    background-repeat: no-repeat;
    height: 100vh; /* Ensure the body takes up the full height of the viewport */
}
.header-container {
    background-color: rgba(9.8, 9.8, 43.9, 0.8); /* Black color with 50% transparency */
    padding: 27px;
    transform: translateY(-10px);
}

h1 {
    margin: 0;
    align-items:center;
}
